apiVersion: v1
data:
  gnb-k3s.yaml: |
    Active_gNBs = ( "gNB-ORANSlice");

    gNBs = (
      {
        gNB_ID = 0x1e000;
        gNB_name = "gNB-ORANSlice";
        tracking_area_code = 1;
        plmn_list = ({
          mcc = 208;
          mnc = 95;
          mnc_length = 2;
          snssaiList = (
            { sst = 1; sd = 0xFFFFFF; },
            { sst = 2; sd = 0xFFFFFF; },
            { sst = 3; sd = 0xFFFFFF; }
          );
        });
        nr_cellid = 12345678L;
        min_rxtxtime = 6;
        servingCellConfigCommon = (
        {
          physCellId = 0;
          absoluteFrequencySSB = 641280;
          dl_frequencyBand = 78;
          dl_absoluteFrequencyPointA = 640008;
          dl_offstToCarrier = 0;
          dl_subcarrierSpacing = 1;
          dl_carrierBandwidth = 106;
          initialDLBWPlocationAndBandwidth = 28875;
          initialDLBWPsubcarrierSpacing = 1;
          initialDLBWPcontrolResourceSetZero = 12;
          initialDLBWPsearchSpaceZero = 0;
          ul_frequencyBand = 78;
          ul_offstToCarrier = 0;
          ul_subcarrierSpacing = 1;
          ul_carrierBandwidth = 106;
          pMax = 20;
          initialULBWPlocationAndBandwidth = 28875;
          initialULBWPsubcarrierSpacing = 1;
          prach_ConfigurationIndex = 98;
          prach_msg1_FDM = 0;
          prach_msg1_FrequencyStart = 0;
          zeroCorrelationZoneConfig = 13;
          preambleReceivedTargetPower = -96;
          preambleTransMax = 6;
          powerRampingStep = 1;
          ra_ResponseWindow = 4;
          ssb_perRACH_OccasionAndCB_PreamblesPerSSB_PR = 4;
          ssb_perRACH_OccasionAndCB_PreamblesPerSSB = 14;
          ra_ContentionResolutionTimer = 7;
          rsrp_ThresholdSSB = 19;
          prach_RootSequenceIndex_PR = 2;
          prach_RootSequenceIndex = 1;
          msg1_SubcarrierSpacing = 1;
          restrictedSetConfig = 0;
          msg3_DeltaPreamble = 1;
          p0_NominalWithGrant = -90;
          pucchGroupHopping = 0;
          hoppingId = 40;
          p0_nominal = -90;
          ssb_PositionsInBurst_PR = 2;
          ssb_PositionsInBurst_Bitmap = 1;
          ssb_periodicityServingCell = 2;
          dmrs_TypeA_Position = 0;
          subcarrierSpacing = 1;
          referenceSubcarrierSpacing = 1;
          dl_UL_TransmissionPeriodicity = 6;
          nrofDownlinkSlots = 7;
          nrofDownlinkSymbols = 6;
          nrofUplinkSlots = 2;
          nrofUplinkSymbols = 4;
          ssPBCH_BlockPower = -25;
        });
        amf_ip_address = ({ ipv4 = "oai-amf"; });
        NETWORK_INTERFACES = {
          GNB_INTERFACE_NAME_FOR_NG_AMF = "eth0";
          GNB_IPV4_ADDRESS_FOR_NG_AMF = "0.0.0.0";
          GNB_INTERFACE_NAME_FOR_NGU = "eth0";
          GNB_IPV4_ADDRESS_FOR_NGU = "0.0.0.0";
          GNB_PORT_FOR_S1U = 2152;
        };
      }
    );
    MACRLCs = ({
      num_cc = 1;
      tr_s_preference = "local_L1";
      tr_n_preference = "local_RRC";
      pusch_TargetSNRx10 = 150;
      pucch_TargetSNRx10 = 200;
      ulsch_max_frame_inactivity = 1;
    });
    L1s = ({
      num_cc = 1;
      tr_n_preference = "local_mac";
      prach_dtx_threshold = 120;
      pucch0_dtx_threshold = 150;
      pusch_dtx_threshold = 10;
    });
    RUs = ({
      local_rf = "yes";
      nb_tx = 1;
      nb_rx = 1;
      att_tx = 0;
      att_rx = 0;
      bands = [78];
      max_pdschReferenceSignalPower = -27;
      max_rxgain = 114;
      sf_extension = 0;
    });
    security = {
      ciphering_algorithms = ("nea0");
      integrity_algorithms = ("nia2", "nia0");
      drb_ciphering = "no";
      drb_integrity = "no";
    };
    log_config = {
      global_log_level = "info";
      mac_log_level = "info";
      rlc_log_level = "info";
      pdcp_log_level = "info";
      rrc_log_level = "info";
      ngap_log_level = "info";
    };
  rrmPolicy.json: |
    {
      "slices": [
        {"sst": 1, "sd": 16777215, "label": "eMBB", "dedicated_ratio": 10, "min_ratio": 40, "max_ratio": 80},
        {"sst": 2, "sd": 16777215, "label": "URLLC", "dedicated_ratio": 20, "min_ratio": 20, "max_ratio": 40},
        {"sst": 3, "sd": 16777215, "label": "mMTC", "dedicated_ratio": 5, "min_ratio": 5, "max_ratio": 30}
      ]
    }
kind: ConfigMap
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","data":{"gnb-k3s.yaml":"Active_gNBs = ( \"gNB-ORANSlice\");\n\ngNBs = (\n  {\n    gNB_ID = 0x1e000;\n    gNB_name = \"gNB-ORANSlice\";\n    tracking_area_code = 1;\n    plmn_list = ({\n      mcc = 208;\n      mnc = 95;\n      mnc_length = 2;\n      snssaiList = (\n        { sst = 1; sd = 0xFFFFFF; },\n        { sst = 2; sd = 0xFFFFFF; },\n        { sst = 3; sd = 0xFFFFFF; }\n      );\n    });\n    nr_cellid = 12345678L;\n    min_rxtxtime = 6;\n    servingCellConfigCommon = (\n    {\n      physCellId = 0;\n      absoluteFrequencySSB = 641280;\n      dl_frequencyBand = 78;\n      dl_absoluteFrequencyPointA = 640008;\n      dl_offstToCarrier = 0;\n      dl_subcarrierSpacing = 1;\n      dl_carrierBandwidth = 106;\n      initialDLBWPlocationAndBandwidth = 28875;\n      initialDLBWPsubcarrierSpacing = 1;\n      initialDLBWPcontrolResourceSetZero = 12;\n      initialDLBWPsearchSpaceZero = 0;\n      ul_frequencyBand = 78;\n      ul_offstToCarrier = 0;\n      ul_subcarrierSpacing = 1;\n      ul_carrierBandwidth = 106;\n      pMax = 20;\n      initialULBWPlocationAndBandwidth = 28875;\n      initialULBWPsubcarrierSpacing = 1;\n      prach_ConfigurationIndex = 98;\n      prach_msg1_FDM = 0;\n      prach_msg1_FrequencyStart = 0;\n      zeroCorrelationZoneConfig = 13;\n      preambleReceivedTargetPower = -96;\n      preambleTransMax = 6;\n      powerRampingStep = 1;\n      ra_ResponseWindow = 4;\n      ssb_perRACH_OccasionAndCB_PreamblesPerSSB_PR = 4;\n      ssb_perRACH_OccasionAndCB_PreamblesPerSSB = 14;\n      ra_ContentionResolutionTimer = 7;\n      rsrp_ThresholdSSB = 19;\n      prach_RootSequenceIndex_PR = 2;\n      prach_RootSequenceIndex = 1;\n      msg1_SubcarrierSpacing = 1;\n      restrictedSetConfig = 0;\n      msg3_DeltaPreamble = 1;\n      p0_NominalWithGrant = -90;\n      pucchGroupHopping = 0;\n      hoppingId = 40;\n      p0_nominal = -90;\n      ssb_PositionsInBurst_PR = 2;\n      ssb_PositionsInBurst_Bitmap = 1;\n      ssb_periodicityServingCell = 2;\n      dmrs_TypeA_Position = 0;\n      subcarrierSpacing = 1;\n      referenceSubcarrierSpacing = 1;\n      dl_UL_TransmissionPeriodicity = 6;\n      nrofDownlinkSlots = 7;\n      nrofDownlinkSymbols = 6;\n      nrofUplinkSlots = 2;\n      nrofUplinkSymbols = 4;\n      ssPBCH_BlockPower = -25;\n    });\n    amf_ip_address = ({ ipv4 = \"oai-amf\"; });\n    NETWORK_INTERFACES = {\n      GNB_INTERFACE_NAME_FOR_NG_AMF = \"eth0\";\n      GNB_IPV4_ADDRESS_FOR_NG_AMF = \"0.0.0.0\";\n      GNB_INTERFACE_NAME_FOR_NGU = \"eth0\";\n      GNB_IPV4_ADDRESS_FOR_NGU = \"0.0.0.0\";\n      GNB_PORT_FOR_S1U = 2152;\n    };\n  }\n);\nMACRLCs = ({\n  num_cc = 1;\n  tr_s_preference = \"local_L1\";\n  tr_n_preference = \"local_RRC\";\n  pusch_TargetSNRx10 = 150;\n  pucch_TargetSNRx10 = 200;\n  ulsch_max_frame_inactivity = 1;\n});\nL1s = ({\n  num_cc = 1;\n  tr_n_preference = \"local_mac\";\n  prach_dtx_threshold = 120;\n  pucch0_dtx_threshold = 150;\n  pusch_dtx_threshold = 10;\n});\nRUs = ({\n  local_rf = \"yes\";\n  nb_tx = 1;\n  nb_rx = 1;\n  att_tx = 0;\n  att_rx = 0;\n  bands = [78];\n  max_pdschReferenceSignalPower = -27;\n  max_rxgain = 114;\n  sf_extension = 0;\n});\nsecurity = {\n  ciphering_algorithms = (\"nea0\");\n  integrity_algorithms = (\"nia2\", \"nia0\");\n  drb_ciphering = \"no\";\n  drb_integrity = \"no\";\n};\nlog_config = {\n  global_log_level = \"info\";\n  mac_log_level = \"info\";\n  rlc_log_level = \"info\";\n  pdcp_log_level = \"info\";\n  rrc_log_level = \"info\";\n  ngap_log_level = \"info\";\n};\n","rrmPolicy.json":"{\n  \"slices\": [\n    {\"sst\": 1, \"sd\": 16777215, \"dedicated_ratio\": 5, \"min_ratio\": 10, \"max_ratio\": 100, \"label\": \"eMBB\"},\n    {\"sst\": 2, \"sd\": 16777215, \"dedicated_ratio\": 0, \"min_ratio\": 0, \"max_ratio\": 100, \"label\": \"URLLC\"},\n    {\"sst\": 3, \"sd\": 16777215, \"dedicated_ratio\": 0, \"min_ratio\": 0, \"max_ratio\": 100, \"label\": \"mMTC\"}\n  ]\n}\n"},"kind":"ConfigMap","metadata":{"annotations":{},"name":"oranslice-gnb-config","namespace":"nexslice"}}
  creationTimestamp: "2025-11-29T17:15:05Z"
  name: oranslice-gnb-config
  namespace: nexslice
  resourceVersion: "52401"
  uid: 294ca2c6-7e4d-47e9-a318-814f204d0e98
