apiVersion: v1
kind: ConfigMap
metadata:
  name: oranslice-gnb-config
  namespace: nexslice
data:
  gnb-k3s.yaml: |
    Active_gNBs = ("gNB-ORANSlice");
    gNBs = (
      {
        gNB_ID = 0x1e000;
        gNB_name = "gNB-ORANSlice";
        
        plmn_list = ({
          mcc = 208;
          mnc = 95;
          mnc_length = 2;
          snssaiList = (
            { sst = 1; sd = 0xFFFFFF; },
            { sst = 2; sd = 0xFFFFFF; },
            { sst = 3; sd = 0xFFFFFF; }
          );
        });
        
        nr_cellid = 12345678L;
        
        servingCellConfigCommon = (
          {
            physCellId = 0;
            absoluteFrequencySSB = 641280;
            dl_absoluteFrequencyPointA = 640008;
            dl_carrierBandwidth = 106;
            initialDLBWPlocationAndBandwidth = 28875;
            ul_carrierBandwidth = 106;
            initialULBWPlocationAndBandwidth = 28875;
            subcarrierSpacing = "kHz30";
            dl_UL_TransmissionPeriodicity = 6;
            nrofDownlinkSlots = 7;
            nrofDownlinkSymbols = 6;
            nrofUplinkSlots = 2;
            nrofUplinkSymbols = 4;
            ssb_PositionsInBurst_PR = 2;
            ssb_PositionsInBurst_Bitmap = 1;
            ssb_periodicityServingCell = 20;
            pMax = 20;
            referenceSubcarrierSpacing = "kHz30";
            dl_UL_TransmissionPeriodicity = "ms5";
            ssPBCH_BlockPower = -25;
          }
        );
        
        ////////// AMF parameters:
        amf_ip_address = ({ ipv4 = "oai-amf"; active = "yes"; preference = "ipv4"; });
        NETWORK_INTERFACES = {
          GNB_IPV4_ADDRESS_FOR_NG_AMF = "0.0.0.0";
          GNB_IPV4_ADDRESS_FOR_NGU = "0.0.0.0";
          GNB_PORT_FOR_S1U = 2152;
        };
      }
    );
    
    MACRLCs = (
      {
        num_cc = 1;
        tr_s_preference = "local_L1";
        tr_n_preference = "local_RRC";
        pusch_TargetSNRx10 = 150;
        pucch_TargetSNRx10 = 200;
        ulsch_max_frame_inactivity = 1;
      }
    );
    
    L1s = (
      {
        num_cc = 1;
        tr_n_preference = "local_mac";
        prach_dtx_threshold = 120;
        pucch0_dtx_threshold = 150;
        pusch_dtx_threshold = 10;
      }
    );
    
    RUs = (
      {
        local_rf = "yes";
        nb_tx = 1;
        nb_rx = 1;
        att_tx = 0;
        att_rx = 0;
        bands = [78];
        max_pdschReferenceSignalPower = -27;
        max_rxgain = 114;
        sf_extension = 0;
        sdr_addrs = "serial=XXXXXXX";
      }
    );
    
    security = {
      ciphering_algorithms = ("nea0");
      integrity_algorithms = ("nia2", "nia0");
      drb_ciphering = "no";
      drb_integrity = "no";
    };
    
    log_config = {
      global_log_level = "info";
      hw_log_level = "info";
      phy_log_level = "info";
      mac_log_level = "info";
      rlc_log_level = "info";
      pdcp_log_level = "info";
      rrc_log_level = "info";
      ngap_log_level = "info";
    };
    
    rfsimulator: {
      serveraddr = "server";
      serverport = 4043;
      options = ();
      modelname = "AWGN";
      IQfile = "/tmp/rfsimulator.iqs";
    };
  
  rrmPolicy.json: |
    {
      "slices": [
        {
          "sst": 1,
          "sd": 16777215,
          "dedicated_ratio": 5,
          "min_ratio": 10,
          "max_ratio": 100,
          "label": "eMBB"
        },
        {
          "sst": 2,
          "sd": 16777215,
          "dedicated_ratio": 0,
          "min_ratio": 0,
          "max_ratio": 100,
          "label": "URLLC"
        },
        {
          "sst": 3,
          "sd": 16777215,
          "dedicated_ratio": 0,
          "min_ratio": 0,
          "max_ratio": 100,
          "label": "mMTC"
        }
      ]
    }
