---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ue-embb
  namespace: nexslice
  labels:
    app: ue-embb
    slice-type: embb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ue-embb
  template:
    metadata:
      labels:
        app: ue-embb
        slice-type: embb
    spec:
      containers:
      - name: nr-ue
        image: docker.io/oaisoftwarealliance/oai-nr-ue:2025.w18
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
        command:
          - /opt/oai-nr-ue/bin/nr-uesoftmodem
          - -O
          - /opt/oai-nr-ue/etc/ue.conf
          - --sa
          - --rfsim
          - -r
          - "106"
          - --numerology
          - "1"
          - -C
          - "3619200000"
          - --ssb
          - "516"
          - --rfsimulator.serveraddr
          - oranslice-gnb
        volumeMounts:
          - name: ue-config
            mountPath: /opt/oai-nr-ue/etc/ue.conf
            subPath: ue.conf
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1000m"
      volumes:
        - name: ue-config
          configMap:
            name: ue-embb-config
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ue-urllc
  namespace: nexslice
  labels:
    app: ue-urllc
    slice-type: urllc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ue-urllc
  template:
    metadata:
      labels:
        app: ue-urllc
        slice-type: urllc
    spec:
      containers:
      - name: nr-ue
        image: docker.io/oaisoftwarealliance/oai-nr-ue:2025.w18
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
        command:
          - /opt/oai-nr-ue/bin/nr-uesoftmodem
          - -O
          - /opt/oai-nr-ue/etc/ue.conf
          - --sa
          - --rfsim
          - -r
          - "106"
          - --numerology
          - "1"
          - -C
          - "3619200000"
          - --ssb
          - "516"
          - --rfsimulator.serveraddr
          - oranslice-gnb
        volumeMounts:
          - name: ue-config
            mountPath: /opt/oai-nr-ue/etc/ue.conf
            subPath: ue.conf
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1000m"
      volumes:
        - name: ue-config
          configMap:
            name: ue-urllc-config
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ue-mmtc
  namespace: nexslice
  labels:
    app: ue-mmtc
    slice-type: mmtc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ue-mmtc
  template:
    metadata:
      labels:
        app: ue-mmtc
        slice-type: mmtc
    spec:
      containers:
      - name: nr-ue
        image: docker.io/oaisoftwarealliance/oai-nr-ue:2025.w18
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
        command:
          - /opt/oai-nr-ue/bin/nr-uesoftmodem
          - -O
          - /opt/oai-nr-ue/etc/ue.conf
          - --sa
          - --rfsim
          - -r
          - "106"
          - --numerology
          - "1"
          - -C
          - "3619200000"
          - --ssb
          - "516"
          - --rfsimulator.serveraddr
          - oranslice-gnb
        volumeMounts:
          - name: ue-config
            mountPath: /opt/oai-nr-ue/etc/ue.conf
            subPath: ue.conf
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1000m"
      volumes:
        - name: ue-config
          configMap:
            name: ue-mmtc-config
