apiVersion: v1
kind: ConfigMap
metadata:
  name: oranslice-gnb-config
  namespace: nexslice
data:
  gnb.conf: |
    Active_gNBs = ( "gNB-ORANSlice");

    gNBs = (
      {
        gNB_ID = 0x1e000;
        gNB_name = "gNB-ORANSlice";
        tracking_area_code = 1;
        plmn_list = ({
          mcc = 208;
          mnc = 95;
          mnc_length = 2;
          snssaiList = (
            { sst = 1; sd = 0xFFFFFF; },
            { sst = 2; sd = 0xFFFFFF; },
            { sst = 3; sd = 0xFFFFFF; }
          );
        });
        nr_cellid = 12345678L;
        min_rxtxtime = 6;

        servingCellConfigCommon = (
        {
          physCellId = 0;
          absoluteFrequencySSB = 641280;
          dl_frequencyBand = 78;
          dl_absoluteFrequencyPointA = 640008;
          dl_offstToCarrier = 0;
          dl_subcarrierSpacing = 1;
          dl_carrierBandwidth = 106;
          initialDLBWPlocationAndBandwidth = 28875;
          initialDLBWPsubcarrierSpacing = 1;
          initialDLBWPcontrolResourceSetZero = 12;
          initialDLBWPsearchSpaceZero = 0;

          ul_frequencyBand = 78;
          ul_offstToCarrier = 0;
          ul_subcarrierSpacing = 1;
          ul_carrierBandwidth = 106;
          pMax = 20;
          initialULBWPlocationAndBandwidth = 28875;
          initialULBWPsubcarrierSpacing = 1;

          prach_ConfigurationIndex = 98;
          prach_msg1_FDM = 0;
          prach_msg1_FrequencyStart = 0;
          zeroCorrelationZoneConfig = 13;
          preambleReceivedTargetPower = -96;
          preambleTransMax = 6;
          powerRampingStep = 1;
          ra_ResponseWindow = 4;
          ssb_perRACH_OccasionAndCB_PreamblesPerSSB_PR = 4;
          ssb_perRACH_OccasionAndCB_PreamblesPerSSB = 14;
          ra_ContentionResolutionTimer = 7;
          rsrp_ThresholdSSB = 19;
          prach_RootSequenceIndex_PR = 2;
          prach_RootSequenceIndex = 1;
          msg1_SubcarrierSpacing = 1;
          restrictedSetConfig = 0;
          msg3_DeltaPreamble = 1;
          p0_NominalWithGrant = -90;

          pucchGroupHopping = 0;
          hoppingId = 40;
          p0_nominal = -90;

          ssb_PositionsInBurst_PR = 2;
          ssb_PositionsInBurst_Bitmap = 1;
          ssb_periodicityServingCell = 2;
          dmrs_TypeA_Position = 0;
          subcarrierSpacing = 1;
          referenceSubcarrierSpacing = 1;
          dl_UL_TransmissionPeriodicity = 6;
          nrofDownlinkSlots = 7;
          nrofDownlinkSymbols = 6;
          nrofUplinkSlots = 2;
          nrofUplinkSymbols = 4;
          ssPBCH_BlockPower = -25;
        });

        amf_ip_address = ({ ipv4 = "oai-amf"; });

        NETWORK_INTERFACES = {
          GNB_INTERFACE_NAME_FOR_NG_AMF = "eth0";
          GNB_IPV4_ADDRESS_FOR_NG_AMF = "0.0.0.0";
          GNB_INTERFACE_NAME_FOR_NGU = "eth0";
          GNB_IPV4_ADDRESS_FOR_NGU = "0.0.0.0";
          GNB_PORT_FOR_S1U = 2152;
        };

        ////////// SDAP - CRUCIAL POUR LE DATA PLANE //////////
        enable_sdap = 1;
      }
    );

    MACRLCs = ({
      num_cc = 1;
      tr_s_preference = "local_L1";
      tr_n_preference = "local_RRC";
      pusch_TargetSNRx10 = 150;
      pucch_TargetSNRx10 = 200;
      ulsch_max_frame_inactivity = 1;
      ////////// SLICING - CHEMIN VERS LA POLITIQUE RRM //////////
      SliceConf = "/oai-ran/etc/rrmPolicy.json";
    });

    L1s = ({
      num_cc = 1;
      tr_n_preference = "local_mac";
      prach_dtx_threshold = 120;
      pucch0_dtx_threshold = 150;
      pusch_dtx_threshold = 10;
    });

    RUs = ({
      local_rf = "yes";
      nb_tx = 1;
      nb_rx = 1;
      att_tx = 0;
      att_rx = 0;
      bands = [78];
      max_pdschReferenceSignalPower = -27;
      max_rxgain = 114;
      sf_extension = 0;
    });

    security = {
      ciphering_algorithms = ("nea0");
      integrity_algorithms = ("nia2", "nia0");
      drb_ciphering = "no";
      drb_integrity = "no";
    };

    log_config = {
      global_log_level = "info";
      mac_log_level = "info";
      rlc_log_level = "info";
      pdcp_log_level = "info";
      rrc_log_level = "info";
      ngap_log_level = "info";
      sdap_log_level = "info";
    };

  rrmPolicy.json: |
    {
      "rrmPolicyRatio": [
        {
          "sst": 1,
          "sd": 16777215,
          "dedicated_ratio": 10,
          "min_ratio": 40,
          "max_ratio": 80
        },
        {
          "sst": 2,
          "sd": 16777215,
          "dedicated_ratio": 20,
          "min_ratio": 20,
          "max_ratio": 40
        },
        {
          "sst": 3,
          "sd": 16777215,
          "dedicated_ratio": 5,
          "min_ratio": 5,
          "max_ratio": 30
        }
      ]
    }