apiVersion: v1
kind: ConfigMap
metadata:
  name: gnb-config
  namespace: nexslice
data:
  gnb.conf: |
    Active_gNBs = ( "gNB-ORANSlice");

    gNBs = (
      {
        gNB_ID = 0x1e00;
        gNB_name = "gNB-ORANSlice";

        tracking_area_code = 1;
        plmn_list = ({
          mcc = 208;
          mnc = 95;
          mnc_length = 2;
          snssaiList = (
            { sst = 1; sd = 0xFFFFFF; },
            { sst = 2; sd = 0xFFFFFF; },
            { sst = 3; sd = 0xFFFFFF; }
          );
        });

        nr_cellid = 12345678L;

        servingCellConfigCommon = (
        {
          physCellId = 0;
          absoluteFrequencySSB = 641280;
          dl_frequencyBand = 78;
          dl_absoluteFrequencyPointA = 640008;
          dl_offstToCarrier = 0;
          dl_subcarrierSpacing = 1;
          dl_carrierBandwidth = 106;
          initialDLBWPlocationAndBandwidth = 28875;
          initialDLBWPsubcarrierSpacing = 1;
          initialDLBWPcontrolResourceSetZero = 12;
          initialDLBWPsearchSpaceZero = 0;
          ul_frequencyBand = 78;
          ul_offstToCarrier = 0;
          ul_subcarrierSpacing = 1;
          ul_carrierBandwidth = 106;
          pMax = 20;
          initialULBWPlocationAndBandwidth = 28875;
          initialULBWPsubcarrierSpacing = 1;
          prach_ConfigurationIndex = 98;
          prach_msg1_FrequencyStart = 0;
          prach_msg1_FDM = 0;
          prach_ssb_perRACH_OccasionAndCB_PresmblesPerSSB_PR = 4;
          prach_ssb_perRACH_OccasionAndCB_PreamblesPerSSB = 14;
          prach_RootSequenceIndex_PR = 2;
          prach_RootSequenceIndex = 1;
          prach_restrictedSetConfig = 0;
          msg1_SubcarrierSpacing = 1;
          restrictedSetConfig = 0;
          msg3_DeltaPreamble = 1;
          p0_NominalWithGrant = -90;
          pucch_ResourceCommon = 0;
          pucch_GroupHopping = 0;
          hoppingId = 40;
          p0_nominal = -90;
          ssb_PositionsInBurst = 1;
          ssb_PeriodicityServingCell = 2;
          dmrs_TypeA_Position = 0;
          SubsystemSpec_NumSubsystems = 0;
        }
        );
      }
    );

    MACRLCs = (
      {
        num_cc = 1;
        tr_s_preference = "local_L1";
        tr_n_preference = "local_RRC";
        pusch_TargetSNRx10 = 150;
        pucch_TargetSNRx10 = 200;
        rrm_policy_path = "/oai-ran/etc/rrmPolicy.json";
      }
    );

    L1s = (
      {
        num_cc = 1;
        tr_n_preference = "local_mac";
        prach_dtx_threshold = 120;
        pucch0_dtx_threshold = 150;
        ofdm_offset_divisor = 8;
      }
    );

    RUs = (
      {
        local_rf = "yes";
        nb_tx = 1;
        nb_rx = 1;
        att_tx = 0;
        att_rx = 0;
        bands = [78];
        max_pdschReferenceSignalPower = -27;
        max_rxgain = 114;
        eNB_instances = [0];
        bf_weights = [0x00007fff, 0x0000];
        sdr_addrs = "serial=XXXXXXX";
      }
    );

    THREAD_STRUCT = (
      {
        parallel_config = "PARALLEL_SINGLE_THREAD";
        worker_config = "WORKER_DISABLE";
      }
    );

    rfsimulator: {
      serveraddr = "server";
      serverport = 4043;
      options = ();
      modelname = "AWGN";
      IQfile = "/tmp/rfsimulator.iqs";
    };

    security = {
      ciphering_algorithms = ( "nea0" );
      integrity_algorithms = ( "nia2", "nia0" );
      drb_ciphering = "yes";
      drb_integrity = "no";
    };

    log_config = {
      global_log_level = "info";
      hw_log_level = "info";
      phy_log_level = "info";
      mac_log_level = "info";
      rlc_log_level = "info";
      pdcp_log_level = "info";
      rrc_log_level = "info";
      ngap_log_level = "debug";
    };

    amf_ip_address = ({ ipv4 = "oai-amf"; });

    NETWORK_INTERFACES = {
      GNB_IPV4_ADDRESS_FOR_NG_AMF = "0.0.0.0";
      GNB_IPV4_ADDRESS_FOR_NGU = "0.0.0.0";
      GNB_PORT_FOR_S1U = 2152;
    };
